.container{
    max-width: 1440px;
    border: 10px ;
    margin: auto;
    padding-top: 126px;
}
/* header */
header{
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    max-width: inherit;
    width: inherit; 
    width:calc(1440 / 1440 * 100%);
}
.header_nav{
    display: flex;
    width:calc(1440 / 1440 * 100%);
    padding: 32px 80px;
    justify-content: center;
    align-items: center;
    gap: 333px;
    background: #372D23;
}
.header_li{
    display: inline-flex;
}
.acteve{
    color: #ED6C30;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    padding-right: 48px;
}
.no_acteve{
    color: #B89278;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
.middle{
    padding-inline: 48px;
}
/* section 1 */
.section1{
    width: calc(1440 / 1440 * 100%);
    height: 640px;
    position: relative;
    z-index: -1;
}
.section_img{
    width:100%;
    height:100%;
    
}
.section_p{
    color: #FFF;
    text-shadow: 0px 6px 4px #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    display: flex;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1_div{
    display: flex;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 52px;
    padding: 12px 38px;
    line-height: 28px; /* 140% */
    border: 3px solid #FCC21B;
    box-shadow: 0px 4px 4px 0px #372D23; 
    position: absolute;
    top:60%;
    left: 39%;
    transform: translate(-50%);   
}
/* section 2 */
.section2{
    display:flex;
    width:calc( 1280 / 1440 * 100%);
    height: 320px;  
    /* justify-content: center; */
    align-items: flex-start;
    gap: 40px;
    margin: auto;
    margin-top: 80px; 
}
.section_div{
    display: flex;
    width:400px;
    height: 88px;
    padding: 28px 47px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: rgba(55, 45, 35, 0.80);
    backdrop-filter: blur(2px);
    position: absolute;
    transform: translateY(131%);
    max-width: inherit;

}
figcaption{
    display: inline-flex;
    color: #FFF;
}

/* article */
article{
    display: flex;
    width:calc(1060 / 1440 * 100%) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: auto;
}
h2{
    color: #372D23;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */ 
    padding-top: 80px;  
}
.article_p{
    width: 1060px;
    color: #855C52;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    text-align: justify;
}
.article_button{color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    display: flex;
    height: 52px;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    background: #ED6C30;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px 1px red;
    
    
}
/* footer */
footer{width:calc(1440 / 1440 * 100%);
    height: 196px;
    display: flex;
    padding: 32px 300px;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 416px;
    background: #372D23;
    

}
h3{
    color: #FFF;
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    padding-bottom: 16px;
}
.footer_ul{
   
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-align: left;
}
.footer_a{color: #B89278;

}
h4{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    padding-bottom: 16px;
}

